@use "../../variables";

.about-wr {
  position: relative;
  padding: 4rem 0;
  background-color: white;
  min-height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;

  .about-bg {
    position: absolute;
    min-width: 100%;
    height: calc(100% + 400px);
    top: 0;
    object-position: 50% 50%;
    object-fit: cover;
    opacity: 0.3;
    filter: brightness(1.2) blur(2px);
    z-index: 0;
    will-change: transform;
  }
}

.about-content {
  position: relative;
  margin-bottom: 3rem;
  max-width: 768px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.about-section h2 {
  font-size: 4rem;
  color: variables.$primary-color;
  margin-bottom: 1rem;
}

.about-section p {
  color: #555;
  line-height: 1.4;
  font-size: 1.6rem;
  font-weight: 700;
}

.about-image {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: variables.$bp-ultrawide) {
  .about-section {
    background-color: #f9f7f4;
    padding: 2rem 0;
  }
  .about-wr {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
    border-radius: 32px;
    overflow: hidden;
  }
}
